<style>body,.body-padding{padding:15px 30px;padding-top: 0;}.to_home{color:lightblue;margin-left: -20px;}.to_home:hover{color:steelblue;border-bottom: 1px dotted steelblue;}.center.dude-text{border-top: 10px solid #222;font-size:180px;letter-spacing:-7px;font-weight: 800;text-transform: none;font-family: Helvetica,Arial,sans-serif;}h3{margin: 10px 0;font-size: 24px;font-weight: 700;}</style>
<a href="index.php?route=projects" class="to_home" title=""><span class="fa fa-long-arrow-left"></span> Home</a>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Ups, It's 404</h3>
      </div>     
    </div>
  </div>  
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center dude-text">Dude, what're u doin' here?</h2>
      </div>
     </div>
  </div>                
</section>